<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite2">
<parameter name="workflowName" value="Netini"/>
  <test name="iiq_tests">
    <classes>
      <class name="leaver.testcases.takeSnapshotTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
